<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{eaten}}">
		{{#if eaten}}Eate Me!{{else}}Eaten!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
