<ul>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{eaten}}">
		{{#if eaten}}Eat Me!<span class="material-icons">dining</span>{{else}}Eaten!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</ul>
