<div class="conatainer">

    <div class="jumbotron">
        <h1>EAT-DA-BURGER</h1>
        <br>
        <h2>Add A Burger</h2>
        <form id="create-form">
            <div class="form-group">
                <label for="ca">New Burgers:</label>
                <input type="text" id="ca" name="name">
            </div>
            <button type="submit">Add Burger</button>
        </form>
    </div> {{!jumbotron}}
</div>{{!container}} 
<br>
{{!Burgers that are uneaten}}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" id="lefthead"><strong>Burgers to Devour!</strong></div>
            <div class="panel-body">
                <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{!-- <h3>{{burger_name}}</h3> --}}
            <p>{{id}}.{{burger_name}}</p><br>
            <p><button class=".change-eaten" data-id="{{id}}" data-neweats=true>{{#if devoured}}Devoured!{{else}}Devour
                    Me!{{/if}}</button></p>
            {{!-- <button class=".change-eaten" data-id={{id}} data-newburger=true>
                {{#if devoured}}devoured!{{else}}devour me!{{/if}}</button> --}}
            {{/unless}}
            {{/each}}
        </ul>

            </div>
        </div>

        
    </div>
    {{!-- End div for burgers to be eaten section --}}
    <h2>Eaten Burgers</h2>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <h3>{{id}}.{{burger_name}}</h3>
        {{/if}}
        {{/each}}
    </ul>
</div>
{{!-- End row for eat burger burgers that have been eaten --}}